<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title>Log in</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="image/logo.png" class="logo">
                <nav>
                </nav>
            </div>
        </div>  
        <div class="login-contain">   
            <div class="Welcome">
                welcome login to spotify and you see top artist
            </div> 
            <div class="button-log">
                <button class="login_btn" onclick="authorize()">Login to spotify</button>
            </div>
        </div>

        <script src="js/java.js"></script>
    </body>

</html>